    body
    {
        background-color: #272727;
    }

    #main-container
    {
        background-color: #FFFFFF;
        padding-bottom: 20px;
    }

    .main-jumbo
    {
        background-color: yellow;
    }